*{
    padding: 0px;
    margin:0px 0px ;
}
.groww_top{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 100px;
}
.groww_logo{
    width: 369px;
    height: 79px;
    display: flex;
    align-items: center;
}
.groww_logo img{
    width: 148px;
    height: 40px;
    cursor: pointer;
}
.groww_search{
    width: 443px;
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(148,148,148,0.2),
    2px 2px 5px rgba(148,148,148,0.2);
}
.groww_search input{
    margin: 0px 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}
.groww_search i {
    font-size: 15px;
    color: rgb(148,148,148);
}
.groww_login{
   width: 246px;
   height: 79px;
   display: flex;
   align-items: center;
  
}
.groww_login button{
    background-color: #00d09c;
    border: none;
    width: 175px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor:  pointer;
}
.middlepart{
    margin: 10px 100px;
}
.heading{
    margin: 10px 100px;
    color: rgb(58, 57, 57);
    font-size: 30px;
}
.text{
    font-size: 20px;
    color: rgb(92, 91, 91);
    word-spacing: 0.5px;
    padding: 10px;
}
/*******************FooterSection*******************************************************/
.FooterSection{
    background-color: #1e2232;
    width: 100% auto;
    height: 600px;
    color:white;
    padding-top:40px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    
}
.FooterSection_Address1{
    margin-top:25px;
}
.FooterSection_Address1,
.FooterSection_Address2,
.FooterSection_Address3{
    font-size: 18px;
}

.FooterSection_Product h2,
.FooterSection_Groww h2,
.FooterSection_QuickLink h2{
    margin-bottom: 40px;
    font-size: 20px;
}

.FooterSection_ProductList,
.FooterSection_GrowwList,
.FooterSection_QuickLinkList{
    font-size: 18px;
    line-height: 28px;
}
.FooterSection_ContactSocialMedia .ContactUs{
    text-decoration: underline;
    margin-bottom: 10px;
}
.SocialMedia_icon{
    margin: 5px;
}

.horizontalLine{
    height: 0.3px;
    width: 85%;
    background-color:#7c7e8c;
    margin:30px 100px;
}

.GrowwApplicationDownload a{
    margin-right:20px;
}
.GrowwFooterlast{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:0px 100px;
}