@import url(LoginAndRegisterAnimationStyle.css);
.LoginAndRegisterContainer{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginBody{
    width: 900px;
    height: 460px;
    background-color:#fff ;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.LoginBodyLeft{
    width: 450px;
    height: 100%;
    background-image:url("patternImg.svg") ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.LoginBodyLefth2{
    width: 250px;
    height: 100px;
    margin:60px 0px 50px 50px;
    font-size: 40px;
    line-height: 50px;
    color:#fff;
}
.LoginBodyLeftBottom{
    width: 300px;
    height: 100px;
    /* background-color: red; */
    margin:0px 0px 40px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.LoginBodyLeftBottomAnimation{
    width: 70px;
    height: 10px;
    background-color:#fff;
    animation: AnitionWidth 3s linear infinite;
}
.LoginBodyLeftBottomText{
     margin-top: 20px;
     font-size: 28px;
     color:#fff;
}
/**************************Right Part ***********************************/
.LoginBodyRight{
    background-color: #fff;
    width: 450px;
    height: 100%;
}
.LoginBodyRighth1{
    margin:60px 0px 50px 50px;
    font-size: 40px;
}
.LoginBodyRightGoogleConTainer{
    width: 340px;
    height: 50px;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.1),
    5px 5px 10px rgba(0,0,0,0.1);
    margin:0px 0px 50px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginBodyRightGoogleConTainerImg{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 30px;
    font-size: 20px;
}
.HorizonalLIne{
    height: 1px;
    width: 70px;
    background-color:#ccc;
}
.MainLinesection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ORtext{
    color:rgb(44, 44, 44);
    font-size: 18px;
}
.EmailContainer{
    display: flex;
    flex-direction: column;
    margin:20px 50px 0px 50px;
    padding:5px;


}
.EmailText{
    font-size: 18px;

}
.ErrorTextBox{
    border-bottom: none;
}
.EmailContainer:focus-within{
    color:#26d7ab;
}
.InputTextBox input{
    border: none;
    outline: none;
    background-color: #e3eeec;
    box-shadow: #ccc;
    height: 20px;
}
.ContinueButton{
    display: flex;
    justify-content: center;

}
.ContinueButton input{
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: #26d7ab;
    border: none;
    width: 350px;
    height: 50px;
    cursor: pointer;
}
.ErrorTextBox{
    color: red;
}
