*{
    padding: 0;
    margin:0;
    
}
.groww_top{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 100px;
}
.groww_logo{
    width: 369px;
    height: 79px;
    display: flex;
    align-items: center;
}
.groww_logo img{
    width: 148px;
    height: 40px;
    cursor: pointer;
}
.groww_search{
    width: 443px;
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(148,148,148,0.2),
    2px 2px 5px rgba(148,148,148,0.2);
    background-color: white;
    
}
.groww_search input{
    margin: 0px 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    overflow: hidden;

}
.groww_search i {
    font-size: 15px;
    color: rgb(148,148,148);
}
.groww_login{
   width: 246px;
   height: 79px;
   display: flex;
   align-items: center;
  
}
.groww_login button{
    background-color: #00d09c;
    border: none;
    width: 175px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor:  pointer;
}
.mutualfundsmiddle_part{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin:  10px 100px;
}
.growwmutualfunds_middle_left{
    width: 600px;
    height: 55px;
    align-items: center;
    padding-left: 0px;
}
.investin{
    display: flex;
    font-size: 38px;
    color: #44475b;
    font-size: 58px;

}
.growwmutualfunds_middle_left_text{
    margin: 30px 0px;
    font-size: 18px;
    color: #7c7e8c;
    letter-spacing: 0.5px;
    width: 500px;
    line-height: 30px;
}
.groww_started_container{
    width: 362px;
    height: 55px;

}
.groww_startedbutton{
    width: 200px;
    height: 55px;
    background-color: #00d09c;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor:  pointer;

}
.growwmutualfunds_middle_right{
    display: flex;
}
.growwmutualfunds_middle_right img{
    width:600px ;
    height: 440px;
    box-shadow: 3px 6px 24px rgb(0,0, 0, o.1);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: fill-box();
}
/***************************GrowwInvestor*********************************/
.GrowwInvestor{
    margin: 80px 100px;
}
.GrowwInvestor_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headingandDetails h2{
    font-size: 40px;
    color: #44475b;
}
.headingandDetails p{
    font-size: 20px;
    color: #7c7e8c;
    letter-spacing: 0.5px;
}
.GrowwInvestor_moreSection a{
    color: #00d09c;
    text-decoration: none;
}
.GrowwInvestor_top{
    margin: 50px 0px;
}

.GrowwInvestor_ReviewsContainer{
    display: flex;
    justify-content:center;
    align-items: center;
}
.GrowwInvestor_ReviewBox{
    width: 360px;
    height: 400px;
    margin:20px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.GrowwInvestor_image{
    width: 86px;
    height: 60px;
}
.GrowwInvestor_image img{
    width: 56px;
    height: 60px;
    border-radius: 60px;
}
.GrowwInvestor_Profile_star{
    display: flex;
    align-items: center;
}
.GrowwInvestor_Star i{
    color:orange;
}
.GrowwInvestor_Telling{
    width: 288px;
    height: 180px;
    margin: 20px 0px;
}
.GrowwInvestor_Telling p{
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-size: 20px;
    line-height: 35px;
    color:#323441;
}
.GrowwInvestor_Name_profession{
    margin: 25px 0px;
}
.GrowwInvestor_Name{
    font-size: 20px;
}
.GrowwInvestor_Profession{
    font-size: 16px;
    color: #7c7e8c;
}
/****************InvestAnyWhereContainer****************************************/
.applist img{
    width: 255px;
    height: 360px;
}
.InvestAnyWhereContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.InvestAnyWhereContainer_Left_Text{
    font-size: 50px;
    width: 390px;
    color:#323441;
}
.InvestAnyWhereContainer_Left p{
    color:#7c7e8c;
    font-size: 20px;
    margin: 30px 0px;
    width: 390px;
}
.ListContainer_List{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.ListContainer_Details_Heading_Description{
    font-size: 18px;
    margin: 20px 0px;
    width: 250px;
    color:#7c7e8c;
}
.ListContainer_Details_Heading{
    font-size: 20px;
    font-weight: 900;
}
.ListContainer_Details{
    margin-left:40px;
}
.InvestAnyWhereContainer_Right{
    display: flex;
    align-items: center;
}
.applist{
    margin:20px;
}
/********************************support******************************************/
.SupportSection{
    margin:100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SupportContainer{
    background-color: #00d09c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1110px;
    padding-top:40px;
    
}
.SupportSection_left{
    width: 500px;
}
.SupportSection_left h2{
    font-size: 35px;
    color:white;
    margin:30px 0px;
}
.SupportSection_left p{
    font-size: 17px;
    width: 500px;
    line-height: 30px;
    color:white;

}
.SupportSection_left button{
    width: 200px;
    height: 50px;
    border:none;
    font-size: 18px;
    color:#00d09c;
    margin: 30px 0px;
}
.SupportSection_Right{
    position: relative;
    bottom: -4px;
}
/*******************FooterSection*******************************************************/
.FooterSection{
    background-color: #1e2232;
    width: 100% auto;
    height: 600px;
    color:white;
    padding-top:40px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    
}
.FooterSection_Address1{
    margin-top:25px;
}
.FooterSection_Address1,
.FooterSection_Address2,
.FooterSection_Address3{
    font-size: 18px;
}

.FooterSection_Product h2,
.FooterSection_Groww h2,
.FooterSection_QuickLink h2{
    margin-bottom: 40px;
    font-size: 20px;
}

.FooterSection_ProductList,
.FooterSection_GrowwList,
.FooterSection_QuickLinkList{
    font-size: 18px;
    line-height: 28px;
}
.FooterSection_ContactSocialMedia .ContactUs{
    text-decoration: underline;
    margin-bottom: 10px;
}
.SocialMedia_icon{
    margin: 5px;
}

.horizontalLine{
    height: 0.3px;
    width: 85%;
    background-color:#7c7e8c;
    margin:30px 100px;
}

.GrowwApplicationDownload a{
    margin-right:20px;
}
.GrowwFooterlast{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:0px 100px;
}

